{% extends "base.html" %}

{% load static %}

<!-- Block Conteúdo da Página -->
{% block content %}
    <div class="row w-100 min-vh-100 bg-dark">
        <div class="col-12 col-md-6">
            <div class="d-flex justify-content-center align-items-center h-100">
                <form method="POST" class="w-50">
                    {% csrf_token %}
                    <input type="text" class="form-control fs-6 ps-3 w-100 rounded-3 shadow-lg" name="link" type="text" placeholder="Insira a URL:" minlength="2" required>
                    <button class="btn btn-primary w-100 mt-2 rounded-3 shadow-lg" type="submit">Gerar</button>
                </form>
            </div>
        </div>
        <div class="col-12 col-md-6 bg-white">
            <div class="d-flex justify-content-center align-items-center h-100">
                <div class="d-flex justify-content-center align-items-center mt-5 flex-column rounded-3 p-0 m-0">
                    <img width="350" height="350" src="{% static 'images/image.svg' %}">
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block css %}
    <style>
        @media screen and (max-width: 900px) {
            img{
                width: 250px;
                height: 250px;
            }
            row{
                width: 100% !important;
                min-width: none !important;
            }
        }
        @media screen and (max-width: 600px){
            row{
                min-width: 100vh !important;
                width: none !important;
            }
            img{
                width: 150px;
                height: 150px;
            }
        }
    </style>
{% endblock %}