{% extends "base.html" %}

{% load static %}

<!-- Block Conteúdo da Página -->
{% block content %}
    <div class="item-center">
        <div class="row">
            <div class="col s12">
                <div class="container">

                <!-- Barra de Inserção -->
                    <form method="POST">
                        {% csrf_token %}
                        <div class="container center py-3">
                            <input placeholder="  Insira a URL:" id="link" type="text" class="validate ps-1" name="link">
                        </div>
                    </form>
                </div>
            </div>
            <div class="col s12">
                <div class="center">
                    <img width="350" height="350" src="{% static 'image/image.svg' %}">
                </div>
            </div>
        </div>
    </div>  
{% endblock content %}

{% block css %}
    <style>
        input:not([type]), input[type=date]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=email]:not(.browser-default), input[type=number]:not(.browser-default), input[type=password]:not(.browser-default), input[type=search]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=text]:not(.browser-default), input[type=time]:not(.browser-default), input[type=url]:not(.browser-default), textarea.materialize-textarea {
            border: solid #e0e0e0 1px !important;
            border-bottom: 0px solid #797979;
            border-radius: 50px;
        }
    </style>
{% endblock %}