{% extends "base.html" %}

{% load static %}

<!-- Block Conteúdo da Página -->
{% block content %}
    <div class="item-center">
        <div class="row">
            <div class="col s12">
                <!-- Barra de Inserção -->
                <form method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="input-field col s12">
                            <input placeholder="Insira a URL:" id="link" type="text" class="validate" name="link">
                        </div>
                    </div>
                </form>
            </div>

            <div class="col s12">
                <img class="materialboxed" width="300" height="300" src="{% static 'image/image.svg' %}">
            </div>
        </div>
    </div>  
{% endblock content %}

<!-- Block Título da Página -->
{% block title %}
    Dashboard
{% endblock %}