{% load static %}

<!DOCTYPE html>

<html lang="pt-BR">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Simple site on posts" />
        <meta name="author" content="Lucas Eduardo de Oliveira Santos" />

        <link rel="icon" type="image/x-icon" href="{% static 'images/logo.svg' %}">

        <!-- Import Material Icons -->
        <link href="{% static 'css/material-icons/filled/material-icons.min.css' %}" rel="stylesheet">

        <!-- Import Css Bootstrap -->
        <link href="{% static 'css/bootstrap/bootstrap.min.css' %}" rel="stylesheet">

        <!-- Import Css Index -->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet">

        {% block css %}
        {% endblock %}

        <title>
            Qr Code Generator
        </title>

        <!-- if javascript is disabled, this content will appear -->
        <noscript>
            <style type="text/css">
                body main{
                    display: none;
                }
                .javascript__disabled{
                    display: flex;
                    width: 100%;
                    height: 100vh;
                    justify-content: center;
                    align-items: center;
                    font-size: 22px;
                    background-color: #0B0418;
                    color: #8f8f8f;
                }
            </style>
            <div class="javascript__disabled">
                JavaScript desativado, por favor, ative-o para o sistema funcionar corretamente!
            </div>
        </noscript>
    </head>

    <body class="bg__custom__primary">
        <main>
            {% block content %}
            {% endblock %}
        </main>

        <script src="{% static 'js/jquery.min.js' %}"></script>

        <!-- Import Js Bootstrap Bundle -->
        <script src="{% static 'js/bootstrap/bootstrap.bundle.min.js' %}"></script>

        <script>
            $(document).ready(function(){
                $(".toast").toast('show');
                $(function () {
                    $('[data-toggle="tooltip"]').tooltip()
                })
            });

            /* disabled Context Menu on pages */
            //document.addEventListener('contextmenu', event => event.preventDefault());
        </script>

        {% if messages %}
            {% for message in messages %}
                <div class="position-fixed bottom-0 top-2 right-5 p-3" style="z-index: 5; right: 0; bottom: 0; top:0; margin-top: 60px;">
                    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="3000">
                        <div class="toast-header">
                            <strong class="me-auto text-{{message.tags}}">
                                {% if message.tags == 'success'%}
                                    Opa, Sucesso...
                                {% elif message.tags == 'info'%}
                                    Informações para você...
                                {% elif message.tags == 'warning'%} 
                                    Ops! Falhas a vista....
                                {% elif message.tags == 'error'%}
                                    Ops! Ocorreu algum erro....
                                {% endif %}</strong>
                            <small class="text-muted">just now</small>
                            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                        </div>
                        <div class="toast-body text-{{message.tags}}">
                            {{message}}
                        </div>
                    </div>
                </div>
            {% endfor %}    
        {% endif %}

        {% block script %}
        {% endblock %}
    </body>
</html>